<template>
  <div>
    <input v-if="field.type === 'text'"
    class="form-control"
    type="text"
    v-bind:id="field.id"
    v-model.trim="data[field.name]"
    v-bind:name="field.name"
    v-bind:placeholder="field.title"
    v-bind:required="field.required">

    <div v-bind:id="field.name+'-div-color'" class="input-group colorpicker-component" v-if="field.type === 'color'">
      <input
        class="form-control"
        type="text"
        v-bind:id="field.id"
        v-model.trim="data[field.name]"
        v-bind:name="field.name"
        v-bind:placeholder="field.title"
        
        v-bind:required="field.required">

      <span class="input-group-addon"><i></i></span>
    </div>

    <panal-calendar
      v-if="field.type === 'calendar'"
      :name="name"
      :value="value"
      v-model.trim="data[field.name]"
    ></panal-calendar>

    <panal-datetime
      v-if="field.type === 'datetime'"
      placeholder="Fecha y hora"
      v-model="data[field.name]"
    ></panal-datetime>

    <textarea v-if="field.type === 'textarea'"
      class="form-control"
      v-bind:id="field.id"
      v-model.trim="data[field.name]"
      v-bind:name="field.name"
      v-bind:placeholder="field.title"
      v-bind:required="field.required">
    </textarea>

    <input v-if="field.type === 'hidden'"
      type="hidden"
      v-model="data[field.name]"
      v-bind:name="field.name">

    <switch-custom v-if="field.type === 'status'" 
      :data="data" 
      v-model.trim="data[field.name]"
      :field="field"></switch-custom>

  </div>
</template>

<script>
  import customSwitch from './Switch.vue'

  export default {
    name: 'custom-inputs',
    props: ['field', 'data'],
    data: function(){
      return {
        value: this.isUndefinedOrDefined(this.data[this.field.name]),
        name: this.isUndefinedOrDefined(this.field.name),
        title: this.isUndefinedOrDefined(this.field.title),
      }
    },
    methods:{
      isUndefinedOrDefined: function (thing){
        return typeof thing == 'undefined'  ? '' : thing
      },

      //Metodo para activar el selector de color
      startColor: function(){
        var self = this;
        setTimeout(function () {
          if(self.field.type === 'color'){
            console.log(self.data[self.field.name]);
            $('#'+self.field.name+'-div-color').colorpicker({'color': self.data[self.field.name]});
            $('#'+self.field.name+'-div-color').on('changeColor', function(ev){
              self.data[self.field.name] = ev.color.toHex();
            });
          }
        }, 50);
      }
    },
    mounted() {
      var self = this;
      self.startColor();
    },
    components: {
      'switch-custom' : customSwitch
    }
  }
</script>