<template>
    <div class="row">
        <div :class="largo">
            <div class="panel" :class="tipo">
                <div class="panel-heading">{{ title }}</div>
                <div class="panel-body">
                    <slot name="body"></slot>
                </div>
                <div class="panel-footer">
                    <slot name="footer"></slot>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: 'panel-global',
        props: {
            title: {
                type: String
            },
            type: {
                type: String,
                default: 'default'
            },
            large: {
                type: String,
                default: '12'
            }
        },
        data: function(){
            var self = this;
            return {
                largo: 'col-md-'+self.large,
                tipo: 'panel-'+self.type,
            }
        },
    }
</script>