<template>
    <div>
        <input
        type="checkbox"
        v-bind:id="switchId"
        v-bind:name="field.name"
        v-bind:required="field.required"
        :checked="valor"
        >
    </div>
</template>

<script>
    export default {
        name: 'switch-custom',
        props:[
            'field',
            'data',
        ],
        data: function(){
            return {
                value: this.isUndefinedOrDefined(this.data[this.field.name]),
                name: this.isUndefinedOrDefined(this.field.name),
                switchId: 'switch-id-' + (new Date()).getTime(),
            }
        },
        methods:{
            isUndefinedOrDefined: function (thing){
                return typeof thing == 'undefined'  ? '' : thing
            },
            startSwitch: function (state) {
                var self = this;
                state = (state)?true:false;
                setTimeout(function () {
                    $('#'+self.switchId).bootstrapSwitch('state',state);
                }, 50);
                return self;
            },
            setEventSwitch: function() {
                var self = this;
                //Generamos el evento para actualizar el v-model
                $('#'+self.switchId).on('switchChange.bootstrapSwitch', function(event, state) {
                    self.data[self.field.name] = (state)?1:0;
                });
            }
        },
        mounted() {
            var self = this;
            self.startSwitch()
            .setEventSwitch();
        },
        computed:{
            valor: function(){
                var state = (this.data[this.field.name]=='1')?true:false;
                this.startSwitch(state);
                return (this.data[this.field.name]==1)?true:false;
            }
        }
    }
</script>